<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>IP Servidor de la base de datos</description>
        <param-name>servidor</param-name>
        <param-value>bd-helpdesk.postgres.database.azure.com</param-value>
    </context-param>
    <context-param>
        <description>Usuario con el cual se conecta a la
base de datos</description>
        <param-name>usuario</param-name>
        <param-value>helpdesk@bd-helpdesk</param-value>
    </context-param>
    <context-param>
        <description>Clave del usuario para conectarse a la
base de datos</description>
        <param-name>clave</param-name>
        <param-value>2846550@aHyu</param-value>
    </context-param>
    <context-param>
        <description>Base de datos de la aplicación</description>
        <param-name>baseDatos</param-name>
        <param-value>helpdesk</param-value>
    </context-param>
    <context-param>
        <description>Puerto para conectarse al servidor
PostgreSQL</description>
        <param-name>puerto</param-name>
        <param-value>5432</param-value>
    </context-param>
    <context-param>
        <description>Directorio donde se guardan los archivos que se adjuntan a una solicitud</description>
        <param-name>directorioArchivos</param-name>
        <param-value>D:\home\site\wwwroot\archivos\</param-value>
    </context-param>
    <context-param>
        <description>Numero de MB que pueden tener los archivos que se deseen adjuntar</description>
        <param-name>tamanioArchivos</param-name>
        <param-value>8</param-value>
    </context-param>
    <context-param>
        <description>Número de registros por página</description>
        <param-name>tamanioPagina</param-name>
        <param-value>10</param-value>
    </context-param>
    <listener>
        <description>Inicializa la conexion con la base de datos</description>
        <listener-class>helpdesk.web.ConexionBD</listener-class>
    </listener>
    <servlet>
        <servlet-name>VerificarLogin</servlet-name>
        <servlet-class>helpdesk.web.VerificarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba20</servlet-name>
        <servlet-class>helpdesk.web.Prueba20</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuSistema</servlet-name>
        <servlet-class>helpdesk.web.MenuSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroSolicitud</servlet-name>
        <servlet-class>helpdesk.web.RegistroSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlSolicitud</servlet-name>
        <servlet-class>helpdesk.web.ControlSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerFormatoTramite</servlet-name>
        <servlet-class>helpdesk.web.LeerFormatoTramite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTrabajador</servlet-name>
        <servlet-class>helpdesk.web.ControlTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlArchivo</servlet-name>
        <servlet-class>helpdesk.web.ControlArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestorDataGrid</servlet-name>
        <servlet-class>helpdesk.web.GestorDataGrid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>respuestasXML</servlet-name>
        <servlet-class>helpdesk.web.RespuestasXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestasXML</servlet-name>
        <servlet-class>helpdesk.web.RespuestasXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlReporte</servlet-name>
        <servlet-class>helpdesk.web.ControlReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMensaje</servlet-name>
        <servlet-class>helpdesk.web.ControlMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTramite</servlet-name>
        <servlet-class>helpdesk.web.ControlTramite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBuscador</servlet-name>
        <servlet-class>helpdesk.web.ControlBuscador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificarLogin</servlet-name>
        <url-pattern>/verificarLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba20</servlet-name>
        <url-pattern>/Prueba20</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuSistema</servlet-name>
        <url-pattern>/accesoMenu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroSolicitud</servlet-name>
        <url-pattern>/registroSolicitud.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlSolicitud</servlet-name>
        <url-pattern>/controlSolicitud.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerFormatoTramite</servlet-name>
        <url-pattern>/formatoTramite.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTrabajador</servlet-name>
        <url-pattern>/controlTrabajador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlArchivo</servlet-name>
        <url-pattern>/controlArchivo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestorDataGrid</servlet-name>
        <url-pattern>/gestorDataGrid.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestasXML</servlet-name>
        <url-pattern>/respuestasXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>respuestasXML</servlet-name>
        <url-pattern>/respuestasXML.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlReporte</servlet-name>
        <url-pattern>/controlReporte.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMensaje</servlet-name>
        <url-pattern>/controlMensaje.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTramite</servlet-name>
        <url-pattern>/controlTramite.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBuscador</servlet-name>
        <url-pattern>/controlBuscador.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
